@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border-radius: 0px;
}

body{
  font-family: 'Old Standard TT', sans-serif;
  color:  #FFFFFF;
}

.logo{
font-weight: 400;
font-size: 22px;
line-height: 28px;
color: #FFAE2B;
}

.header{
  background: #181511;
  padding: 14px 120px;
}

.container{
  padding: 120px 120px 0;
}

.header__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: center;
  padding-right: 455px;
}

.link__list{
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ACA592;
  transition: 0.3s;
  margin-right: 40px;
}

.link__list:last-child{
  margin-right: 0;
}
.link__list:first-child{
  margin: 0 28px 42px 0;
}

.link__list:hover{
  color: #FFAE2B;
}

.btn{
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FFAE2B;
  border-radius: 0px;
  padding: 15px 25px;
  color: #FFAE2B;
  background: transparent;
  transition: 0.3s;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover{
  background: #FFAE2B;
  color: #181511;
}

.banner{
  padding-bottom: 200px;
  background: url(../img/banner_bg.png) no-repeat center/cover;
  height: 602px;
}

.banner-p{
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFAE2B;
}

.banner-h1{
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin: 15px 0 35px;
}

.banner__wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.templates{
  padding: 0 0 121px;
  background: #181511;
}

.templates-p{
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ACA592;
}

.templates-h2{
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #FFAE2B;
}

.templates__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 60px;
}

.templates__card{
  border: 1px solid #4B4136;
  padding: 0 0 41px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.templates__card-h3{
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.templates__wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}